/*-------------------------Contacto---------------------------*/

/*------------------Banner----------------*/

#banner {
    width: 200%;
    height: 200px;
    max-width: 100%;
    display: block;
    border-radius: 10px;
}

/*-----------Title Contact-----------*/

.title-contact{
    padding-left: 15px;
    display: flex;
}

.title-contact h1{
    font-size: 250%;
    
}



/* ------------------------------------------------ */
.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    /* align-items: center; */
    

}

.contact-info {
    text-align: left;
   
}


.form {
    text-align: left;
    /* border: 1px solid #ccc; */
}


/*----------------------------contact-info----------------*/

.contact-info {
    display: flex;
    align-content: space-around;
    align-items: center;
    gap:.5rem;
    margin: 0 20px;
}

.contact-info-cont {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-top: 10%;
}

.contact-info-cont iframe {
    max-width: 100%;
}


/* -------------------Formulario-----------------------------*/

h2 {
    text-align: left;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    padding-right: 15%;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 100%;
    
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 5px;
}

input[type="submit"],
input[type="reset"] {
    background-color: #0074d9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

/*-------------------responsive----------------------*/

/* Todavia no funciona */

.title-contact, .contact-info, .form {
    display: inline-block;
  }



@media (max-width: 768px) {
    .title-contact, .contact-info, .form {
      width: 100%; /* Para que se muestren en una sola columna en pantallas pequeñas */
        display: block;
    }
  }

