:root {
    padding: 0;
    margin: 0;

    --color-Ppl: #3f65a8ff;
    --color-Alt: #4e86e8ff;
    --color-Rnt: #000000;
    --color-Fnt: #03021fff;
    --padding-cont: 10px 0;
    --color-titulos: #001a49;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

html {
    scroll-behavior: smooth;
}

.contenedor {
    width: 90%;
    /* max-width: 1200px; */
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-cont);
}

.inicio_gen {
    background-color: #000000;
    align-content: space-around;
    color: white;
}

.menu_logo {
    display: flex;
    align-content: space-around;
    align-items: center;
    gap: .5rem;
    margin: 0 20px;
}

.menu_logo img {
    width: 30px;
    height: 30px;
}

.inicio {
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: white;
}

.inicio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
        url("../Imagenes/Presentacion\ inicio.jpg");
    background-size: cover;
    z-index: -1;
}

/* Menu de navegacion */
.menu {
    --padding-cont: 0;
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: space-around;
}

.menu_titulo {
    font-weight: 600;
}

.menu_link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
}

.menu_cerrar {

    margin-right: 1rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    z-index: 2;
}

.ver_menu_hamb {
    display: none;
}

.ver_menu_hamb:checked + .menu_link{
    background-color: var(--color-Rnt);
    margin-top: 8rem;
    padding: 1rem;
    padding-top: 3.8rem;
    display: grid;
    grid-auto-flow:row;
    z-index: 1;
    position: absolute;
    right: 0;
}

.ver_menu_hamb:checked ~ .menu_cerrar {
    display:flex;
}

.ver_menu_hamb:not(:checked) ~ .menu_cerrar {
    display:none;
}

.menu_items {
    list-style: none;
    margin-right: 20px;
}

.menu_href {
    color: white;
    text-decoration: none;
}

.menu_href:hover {
    color: gold;
}

.menu_hamb {
    margin-right: 1rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    display: none;
}

.inicio_contenedor {
    max-width: 800px;
    --padding-cont: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: end;
    gap: 3em;
    padding-bottom: 100px;
    text-align: center;
}

.frase_titulo {
    font-size: 3rem;
}

.inicio_parrafo {
    margin-bottom: 30px;
    font-size: 1.25rem;
}

@media screen and (max-width: 1040px) {
    .menu_titulo {
        font-size: 1rem;
    }
}

@media screen and (max-width: 920px) {
    .menu_link{
        display: none;
    }
    .menu_hamb {
        display:flex;
    }
}

@media screen and (max-width: 720px) {
    .frase_titulo {
        font-size: 1.5rem;
    }

    .inicio_parrafo {
        font-size: .85rem;
    }
}

@media screen and (max-width: 560px) {
    .logo_ppl {
        display: none;
    }
}
/* Seccion Nosotros */

.quienes_somos {
    --padding-cont: 0;
    text-align: center;
}

.titulo {
    font-size: 3rem;
}

.desc_qs {
    padding-bottom: 20px;
    
}

.desc_qs .titulo {
    text-align: center;  
}

.desc_astro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.astronomo {
    width: 30%;
    margin: 10px 10px;
    /* \margen entre profesores */
    text-align: center;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    /* Añadido para incluir el padding en el ancho del elemento */
    overflow: hidden;
}

.astronomo img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Ver de personalizar con esto las tarjetas de los astronomos */
.subtitulo {
    font-size: 2rem;
}

.parrafo_desc {
    font-size: 1rem;
}

/* ----- */


/* Seccion Cursos  */


.cursos {
    --padding-cont: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;

}


.tarjeta {
    width: calc(33.33% - 20px);
    margin: 50px 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f3f3f3;
}

.curso_info img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.boton {
    display: inline-block;
    background-color: blue;
    justify-self: center;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
}

.boton:hover {
    color: rgb(red, green, rgb(0, 255, 38))
}

/* Seccion Alumnos */

.alumnos {
    --padding-cont: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.alumnos .alum_portada {
    width: 200px;
    margin: 15px;
    overflow: hidden;
    position: relative;
    justify-items: center;
    border-radius: 25px;

    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.alumnos .alum_portada img {
    width: 100%;
    /* Se puede cargar maximo de altura imagen */

}

.alumnos .alum_portada .parrafo_desc {
    margin: 0;
    display: flex;
    ;
    align-items: center;
    padding: 15px 15px 25px;
    justify-content: space-between;
}

.alumnos .alum_portada .opinion {
    /* color */
    margin-top: 0px;
    bottom: -100%;
    padding: 10px;
    max-height: 100%;
    overflow-y: auto;
    line-height: 15px;
    /* interlineado*/
    position: absolute;
    background-color: white;
    box-sizing: border-box;
    transition: bottom 0.5s ease-in-out;
}

.alumnos .alum_portada .opinion h3 {
    text-align: center;
}

.alumnos .alum_portada:hover .opinion {
    bottom: 0;
}

.subtitulo {
    font-size: 1.5rem;
    text-align: center;
    margin: 10px;
}



/* --------------- Seccion Contacto ---------------------*/


/* --------------- Carrusel animado con textos ----------------------- */
.carrucel_cont {
    width: 100wv;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;

}

.carrucel_cont ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: presentacion 20s infinite alternate ease-in-out;

}

.carrucel_cont li {
    width: 100%;
    list-style: none;
    position: relative;

}

.texto_filmina {
    position: absolute;
    text-align: center;
    padding: 0 250px;
    top: 250px;
    color: #ffffff;
}

.texto_filmina h2 {
    font-size: 45px;
    margin-bottom: 35px;
}

.carrucel_cont img {
    width: 100%;

}

@keyframes presentacion {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    40% {
        margin-left: -100%;
    }

    60% {
        margin-left: -100%;
    }

    80% {
        margin-left: -200%;
    }

    100% {
        margin-left: -200%;
    }
}

@media (max-width: 991px) {
    .carrucel_cont {
        width: 340px;
    }

    .texto_filmina {
        top: 15px;
        padding: 0 25px;
    }

    .texto_filmina h2 {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .texto_filmina p {
        font-size: 15px;
    }
}


/*------- Carrusel con imagenes seleccionables -------- */

.slider {
    padding-bottom: 20px;
}

.slider-container {
    position: relative;
    max-width: 80vw;
    margin: 0 auto;

}

.hojas {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 1.5rem -0.75rem hsla(0, 0%, 0%, .25);
    border-radius: 0.5rem;

}

.hojas img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    /* object-fit: cover; */
}

.control-presentacion {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

}

.control-presentacion a {
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    background-color: #ffff;
    opacity: .5;
    transition: opacity ease 250ms;
}

.control-presentacion a:hover {

    opacity: 1;
}




/*----------------------------------------Footer-----------------------*/

footer {
    padding-top: 20px;
    margin: 0px;
    background-color: var(--color-Rnt);
    height: auto;
}

.contenedor-footer {
    display: inline-flex;

}

.seccion-footer {
    flex: 1;
    padding: 0 10px;

}

.seccion-footer ul {
    list-style: none;
    margin: 0;
    padding: 10px;


}

.seccion-footer li {
    list-style: none;

}

.seccion-footer ul a {
    text-decoration: none;
    font-size: 0.8em;

}

.seccion-footer li a {
    text-decoration: none;
}

.footer-li {
    font-size: 17px;
}

.footer-li a {
    font-weight: bold;
    color: white;

}

.footer-li2 a {
    color: gray;
    text-decoration: none;
}

.footer-li2 {
    font-size: 14px;
}

/*----------------------------------------------*/
/* estilo contenedor iconos */

.contenedor-iconos {

    display: flex;
    justify-content: flex-start;
    padding: 15px;
    margin: 15px;

}

.iconos {
    flex: 4;
    font-size: 200%;
    padding-left: 40px;

}

.iconos a {
    color: white;
}

.logo-proy img {
    width: 100px;
}

.boton-arrep ul li {
    display: inline;
    margin: 30px;
    padding-right: 30px;
}

.boton-arrep a {
    color: white;
}

/*------------------------------------------*/

.final-footer {
    display: flex;
    justify-content: center;
}

.copyright {
    color: white;
}



/*-------------------------Contacto---------------------------*/

/*------------------Banner----------------*/

#banner {
    width: 200%;
    height: 200px;
    max-width: 100%;
    display: block;
    border-radius: 10px;
}

/*-----------Title Contact-----------*/

.title-contact{
    padding-left: 15px;

}

.title-contact h1{
    font-size: 250%;    
}



/* ------------------------------------------------ */
.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    /* align-items: center; */
    

}

.contact-info {
    text-align: left;
   
}


.form {
    text-align: left;
    /* border: 1px solid #ccc; */
}


/*----------------------------contact-info----------------*/

.contact-info {
    display: flex;
    align-content: space-around;
    align-items: center;
    gap:.5rem;
    margin: 0 20px;
}

.contact-info-cont {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-top: 10%;
}

.contact-info-cont iframe {
    max-width: 100%;
}


/* -------------------Formulario-----------------------------*/

h2 {
    text-align: left;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    padding-right: 15%;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 100%;
    
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 5px;
}

input[type="submit"],
input[type="reset"] {
    background-color: #0074d9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

/*-------------------responsive----------------------*/

/* Todavia no funciona */

.title-contact, .contact-info, .form {
    display: inline-block;
  }



@media (max-width: 768px) {
    .title-contact, .contact-info, .form {
      width: 100%; /* Para que se muestren en una sola columna en pantallas pequeñas */
        display: block;
    }
  }


