body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.footer {
    background-color: black;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    min-height: 200px; /* Cambié 'height' a 'min-height' para que pueda crecer en contenido */
}

.footer-section {
    flex: 1;
    text-align: center;
    margin: 10px;
}

.footer-section h3 {
    font-size: 1.2em;
}

.footer-section p {
    font-size: 0.9em;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section a {
    text-decoration: none;
    color: #fff;
    font-size: 100%;
}

/* Estilos para los íconos de redes sociales */
.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 27px; /* Tamaño de fuente de los íconos */
    margin-right: 15px;
}


.footer-section.contact, .footer-section.social, .footer-section.links {
    flex: 1;
    text-align: center;
    margin: 10px;
}

.footer-section.copyright {
    flex: 1;
    text-align: center;
    margin: 10px;
    align-self: center; /* Alinea esta sección al final del contenedor */
    display: flex;
    align-content: space-around;
    align-items: center;
    gap: .5rem;    
}

.footer-section.copyright img{
    width: 10%;
    height: 10%;
}

.footer-section.social a:hover {
        color: gold /* Cambia el color del texto al pasar el cursor */
}

.footer-section.links a:hover{
    color: gold /* Cambia el color del texto al pasar el cursor */
}

.footer-section.contact a:hover{
    color: gold /* Cambia el color del texto al pasar el cursor */
}


/* Estilos específicos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .social-icons {
        margin-top: 10px; /* Espacio entre la sección de redes sociales y otras secciones en pantallas pequeñas */
    }

    .footer-section.copyright {
        margin-left: 90px;
    }
}