
.listados  {
    background-color: rgba(0, 191, 255, 0.331);
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
}

.titulo_recursos {
    align-content: center; 
    width: 100%;
}

.accesos_recursos {
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

li {
    list-style: none;
    padding-top: 2px;
}

/* --------------- Carrusel animado con textos ----------------------- */
.carrucel_cont {
    background-color: black;
    width: var(--size-imagen);
    margin: 0 auto ;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.carrucel_cont ul {
    display: flex;
    padding: 0;

}

.carrucel_cont li {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.carrucel_cont ul, .container ul {
    width: 100%;

}

.carrucel_cont img {
    width: var(--size-imagen);
    animation: presentacion 20s infinite alternate ease-in-out;
}

@keyframes presentacion {
    0% {
        margin-left: 0;
    }

    12% {
        margin-left: 0;
    }

    22% {
        margin-left: -100%;
    }

    34% {
        margin-left: -100%;
    }

    44% {
        margin-left: -200%;
    }

    56% {
        margin-left: -200%;
    }    
    
    66% {
        margin-left: -300%;
    }
    76% {
        margin-left: -300%;
    }

    88% {
        margin-left: -400%;
    }
    100% {
        margin-left: -400%;
    }

}

@media (max-width: var(--size-imagen)) {


    .texto_filmina {
        top: 15px;
        padding: 0 25px;
    }

    .texto_filmina h2 {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .texto_filmina p {
        font-size: 15px;
    }
}




#ex1 {
    margin: 0 auto;
}


.container{
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.accesos_recursos h2, h3 {
    text-decoration: underline ;
    text-align: center;
}

.texto_links {
    padding: 0;
    margin: 0;
    text-align: center;
}

.img_ppl {
    width: 100%;

}

/* ----------- Estilo de tablas --------------- */

.table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 0px;
    table-layout: fixed;
}

.table caption {
    font-size: 28px;
    text-transform: uppercase ;
    font-weight: bold;
    margin: 8px 0px;
}

.table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;

}

.table th , table td {
    font-size: 16 px;
    padding: 8px;
    text-align: center;

}

.table th {
    text-transform: uppercase;
    background-color: #ddd;
}

.table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.2);

}

.table tbody td:hover {
    background-color: rgba(0, 0, 0, 0.3);

}

@media screen and (max-width: 600px) {
    .table {
        border: 0px ;
    }
    .table caption {
        font-size: 22px;
    }
    .table thead {
        display: none
    }
    .table tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    
    .table th, .table td {
        font-size: 12px;
    }
    
    .table td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align:right;
    }

    .table td:last-child {
        border-bottom: 0px;
    }

    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}

