<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/14624a266b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="stylesheet" href="../static/css/cursos.css">
    <title>Universo Infinito: Explorando el Cosmos</title>
    <link rel="icon" type="image/x-icon" href="../static/Imagenes/Logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap" rel="stylesheet">
</head>

<body>
    <header class="inicio">
        <nav id="nav" class="menu">
            <!-- Nav en js -->
        </nav>
        <section id="ir_pg_inicio" class="inicio_contenedor contenedor">
            <h1 class="frase_titulo">La astronomía obliga al alma a mirar hacia arriba y nos
                lleva de este mundo a otro.<br><span class="nombre_autor">Platón</span></h1>
        </section>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
            <path fill="#ffffff" fill-opacity="1"
                d="M0,64L60,58.7C120,53,240,43,360,37.3C480,32,600,32,720,64C840,96,960,160,1080,165.3C1200,171,1320,117,1380,90.7L1440,64L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
            </path>
        </svg>
    </header>

    <!-- parte de cursos con imagenes -->
    <main>
        <div id="app">
            <section class="cursos">
                <div class="container">
                    <h2 class="subtite">Nuestra oferta de cursos</h2>
                    <p>Explora el universo desde con nuestros cursos de astronomía.
                        Desde los conceptos básicos hasta los avances más recientes,
                        te sumergirás en el fascinante mundo del espacio.
                        Nuestros expertos te guiarán a través de planetas, estrellas y galaxias, utilizando herramientas
                        de
                        vanguardia. Perfecto para aficionados y principiantes. ¡Únete a nosotros y comienza tu viaje
                        estelar
                        hoy!</p>
                    <div class="projects__grid container">

                        <article class="projects__Item">
                            <a href="#curso_Astro_Gen">
                                <img src="../static/Imagenes/Planetas.jpeg" class="projects__img" alt="Curso 2">
                                <div class="projects__hover">
                                    <h2 class="projects__title">Curso de Astronomía General</h2>
                                    <p class="projects__desc">Profundiza en los conceptos complejos del universo y la
                                        astrofísica.</p>
                                </div>
                            </a>
                        </article>
                        <article class="projects__Item">
                            <a href="#curso_Estruc_Cosmic">
                                <img src="../static/Imagenes/estrcuturas cosmicas.jpeg" class="projects__img"
                                    alt="Curso 3">
                                <div class="projects__hover">
                                    <h2 class="projects__title">Curso de estructuras cósmicas</h2>
                                    <p class="projects__desc">Explora la estructura y evolución del universo en escalas
                                        cósmicas.
                                    </p>
                                </div>
                            </a>
                        </article>
                        <article class="projects__Item">
                            <a href="#curso_Estruc_Cosmic">
                                <img src="../static/Imagenes/estrcuturas cosmicas.jpeg" class="projects__img"
                                    alt="Curso 3">
                                <div class="projects__hover">
                                    <h2 class="projects__title">Curso de estructuras cósmicas</h2>
                                    <p class="projects__desc">Explora la estructura y evolución del universo en escalas
                                        cósmicas.
                                    </p>
                                </div>
                            </a>
                        </article>
                        <article class="projects__Item">
                            <a href="#curso_esc_dist">
                                <img src="../static/Imagenes/curso 4jpeg.jpeg" class="projects__img" alt="Curso 4">
                                <div class="projects__hover">
                                    <h2 class="projects__title">Curso de escalera de las distancias</h2>
                                    <p class="projects__desc">Aprende técnicas y herramientas para la observación del
                                        cielo
                                        nocturno.</p>

                                </div>
                            </a>
                        </article>
                        <article v-for="producto in productos" class="projects__Item">
                            <a :href="'#'+producto.nombre">
                                <img class="projects__img" :src="producto.imagen"  :alt="producto.nombre" >
                                <div class="projects__hover">
                                    <h2 class="projects__title">{{producto.nombre}}</h2>
                                    <p class="projects__desc" v-html="producto.descripcion"></p>
                                </div>
                            </a>
                        </article>
                    </div>
                </div>
            </section>

            <section v-for="producto in productos" class="curso">
                <div class="curso-info" :id="producto.nombre">
                    <img :src="producto.imagen" :alt="producto.nombre">
                    <h2>{{producto.nombre}}</h2>
                    <div class="valoracion">
                        <!-- valoración -->
                        <div class="valoracion">
                            <span class="estrella">&#9733;</span>
                            <span class="estrella">&#9733;</span>
                            <span class="estrella">&#9733;</span>
                            <span class="estrella">&#9733;</span>
                            <span class="estrella">&#9733;</span>
                            <span class="puntuacion">5.0</span>
                        </div>
                        <!-- fin de estrellas -->
                    </div>
                    <p>Costo: ${{producto.precio}}</p>
                    <p v-html="producto.descripcion"></p>
                    <button class="btn-agotado">Vacantes {{producto.vacantes}}</button>
                </div>
                <div class="curso-detalles">
                    <div class="detalle">
                        <h3>El mejor {{producto.nombre}}</h3>
                        <p v-html="producto.descripcion"></p>
                    </div>
                    <div class="detalle">
                        <h3>Contenido teórico del curso</h3>
                        <p v-html="producto.contenido_teo"></p>
                    </div>
                    <div class="detalle">
                        <h3>Contenido práctico del curso</h3>
                        <p v-html="producto.contenido_pra"></p>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer id="footer">
        <!-- footer en js -->
    </footer>

    <script src="../static/js/nav.js"></script>
    <script src="../static/js/footer.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <script src="../static/js/main.js"></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="../static/js/productos.js"></script>


</body>

</html>