<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <title>Dashboard</title>
</head>

<body>

    <header id="header">
        <!-- Aqui va el heather -->
    </header>
    <div id="app" class="card m-4">
        <div>
            <h4 class="text-center card-title card-header">Complete la info para crear un nuevo curso</h4>
        </div>
        <div class="m-3 p-3">

            <h4 class="mb-3 align-self-center">Complete la info para crear un nuevo curso</h4>
            <div class="mb-3">
                <label class="form-label" for="nombre">Nombre</label>
                <input class="form-control" type="text" name="nombre" id="nombre" v-model="nombre"
                    placeholder="Titulo del curso nuevo">
            </div>
            <div class="mb-3">
                <label class="form-label" for="descripcion">Descripcion</label>
                <input class="form-control" type="text" id="descripcion" name="descripcion" v-model="descripcion"
                    placeholder="Descripcion del curso">
            </div>
            <div class="mb-3">
                <label class="form-label" for="contenido_teo">Contenido Teorico</label>
                <textarea class="form-control" rows="5" id="contenido_teo" name="contenido_teo" v-model="contenido_teo"
                    placeholder="Describa el contenido Teorico"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="contenido_pra">Contenido Practico</label>
                <textarea class="form-control" rows="5" id="contenido_pra" name="contenido_pra" v-model="contenido_pra"
                    placeholder="Describa el contenido Practico"></textarea>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label class="form-label" for="precio">Precio de venta</label>
                    <input class="form-control" type="number" name="precio" min="0" id="precio" v-model="precio">
                </div>
                <div class="col">
                    <label class="form-label" for="vacantes">Vacantes disponibles</label>
                    <input class="form-control" type="number" name="vacantes" min="0" id="vacantes" v-model="vacantes">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="imagen">Ruta de acceso a imagen descriptiva</label>
                <input class="form-control" type="text" name="imagen" id="imagen" v-model="imagen"
                    placeholder="Escriba la ruta de acceso a la imagen descriptiva">
            </div>

        </div>
        <button class="btn btn-primary w-50 align-self-center" onclick="validarFormulario(guardar)">Crear nuevo curso</button>

    </div>

    <script src="../static/js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="../static/js/validacion_pn.js"></script>

</body>

</html>