<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
    crossorigin="anonymous">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <style type="text/css">
        body {
            margin-top: 20px;
            background: #f8f8f8
        }

        .table {
            display: block !important;
            overflow-x: auto !important;
            width: 100% !important;
        }
    </style> -->
    <title>Dashboard</title>
</head>

<body>

    <header id="header">
        <!-- Aqui va el heather -->
        <nav id="nav">
            <!-- Aqui va el nav -->
        </nav>
    </header>
    <div id ="app" class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Complete la info para crear un nuevo curso</h3>

            </div>
            <div class="modal-body">
                <div class="py-1">
                    <!-- <form class="form" > -->
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="nombre">Nombre</label>
                                            <input class="form-control" type="text" name="nombre" id="nombre" 
                                                placeholder="Titulo del curso nuevo">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="descripcion">Descripcion</label>
                                            <input class="form-control" type="text" id="descripcion" name="descripcion" 
                                            placeholder="Descripcion del curso">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-3">
                                        <div class="form-group">
                                            <label for="contenido_teo">Contenido Teorico</label>
                                            <textarea class="form-control" rows="5" id="contenido_teo" name="contenido_teo" 
                                                placeholder="Describa el contenido Teorico"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-3">
                                        <div class="form-group">
                                            <label for="contenido_pra">Contenido Practico</label>
                                            <textarea class="form-control" rows="5" id="contenido_pra" name="contenido_pra"                                                 placeholder="Describa el contenido Practico"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="precio">Precio de venta</label>
                                            <input class="form-control" type="number" name="precio" id="precio">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="vacantes">Vacantes disponibles</label>
                                            <input class="form-control" type="number" name="vacantes" id="vacantes">
                                        </div>
                                    </div>
                                </div>
                                


                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="imagen">Ruta de acceso a imagen descriptiva</label>
                                    <input class="form-control" type="text" name="imagen" id="imagen"
                                        placeholder="Escriba la ruta de acceso a la imagen descriptiva">
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <button class="btn btn-primary" onclick="validarFormulario(guardar)">Crear nuevo curso</button>
                        </div>

                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script> -->


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    
    
    
    <!-- <script src="../static/js/producto_nuevo.js"></script> -->
    <script src="../static/js/validacion_pn.js"></script>
</body>

</html>