<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="../static/css/estilo.css"> -->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
    crossorigin="anonymous">

    <title>Universo Infinito: Dashboard</title>

    <style type="text/css">
        .tablero {
            margin-top: 20px;
            background: #f8f8f8
        }
        
        /* .table {
            display: block !important;
            overflow-x: auto !important;
            width: 100% !important;
        } */
    </style>
</head>

<body>
    <header id="header">

    </header>

    <div id="app" class="">

        <div class="tablero">
            <!-- <a class="btn btn-primary" href="producto_nuevo.html">Nuevo</a> -->

            <div class="row flex-lg-wrap">
                <div class="col mb-5">
                    <div class="e-panel card p-5">
                        <div class="card-body">
                            <div class="card-title">
                                <h2 class="mr-lg-4 text-center"><span>Cursos vigentes</span></h2>
                            </div>
                            <a class="btn btn-success btn-primary" href="pn.html">Nuevo</a>
                            <section v-if="error">Lo sentimos se produjo un error</section>
                            <section v-else>
                                <section v-if="cargando">
                                    <div class="spinner-border"></div>
                                    <p>Cargando .....</p>

                                </section>
                                <section v-else>

                                    <!-- <button class="btn btn-success btn-primary" type="button">Nuevo</button> -->
                                    <div class="e-table">
                                        <div class="table-responsive table-responsive-xxl mt-3">
                                            <table class="table table-bordered table-striped">
                                                <thead class="table-dark">
                                                    <tr>
                                                        <th class="align-middle text-center">Id</th>
                                                        <th class="align-middle text-center">Titulo</th>
                                                        <th class="align-middle text-center max-width">Descripcion</th>
                                                        <th class="align-middle text-center sortable">Contenido Teorico
                                                        </th>
                                                        <th class="align-middle text-center">Contenido Practico</th>
                                                        <th class="align-middle text-center">Precio</th>
                                                        <th class="align-middle text-center">Vacantes</th>
                                                        <th class="align-middle text-center">Imagen</th>
                                                        <th class="align-middle text-center">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="producto in productos">
                                                        <td class="align-middle text-center small">{{producto.id}}</td>
                                                        <td class="align-middle text-center small">{{producto.nombre}}
                                                        </td>
                                                        <td class="align-middle text-center small">
                                                            {{producto.descripcion}}</td>
                                                        <td class="align-middle text-center small">
                                                            {{producto.contenido_teo}}</td>
                                                        <td class="align-middle text-center small">
                                                            {{producto.contenido_pra}}</td>
                                                        <td class="align-middle text-center small">{{producto.precio}}
                                                        </td>
                                                        <td class="align-middle text-center small">{{producto.vacantes}}
                                                        </td>
                                                        <td class="align-middle text-center small">
                                                            <img width="60" :src="producto.imagen"
                                                                :alt="producto.nombre">
                                                        </td>
                                                        <td class="text-center align-middle">
                                                            <div class="btn-group align-top">
                                                                <!-- <button class="btn btn-sm btn-outline-secondary badge"
                                                            type="button" data-toggle="modal"
                                                            data-target="#user-form-modal">Edit</button> -->
                                                                <a class="btn btn-sm btn-outline-secondary badge-dark"
                                                                    :href="'../templates/pe.html?id='+producto.id">Editar</a>
                                                                <button class="btn btn-sm btn-outline-secondary badge-dark"
                                                                    type="button" v-on:click="eliminar(producto.id)"><i
                                                                        class="fa fa-trash"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </section>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script> -->

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="../static/js/productos.js"></script>

    <!-- <script src="../static/js/nav.js"></script>
    -->



</body>

</html>